img {
  width: 100%;
}

.header-background {
  position: relative;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../img/landingpage5.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
  margin-top: -100px;
}

.landing-inner {
  padding-top: 230px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}
.navbar {
  z-index: 100;
}
