@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato';
}
img {
  width: 100%;
}
.app-container {
  margin-bottom: 100px;
}

.header-background {
  position: relative;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('../img/landingpage5.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
  margin-top: -100px;
}

.landing-inner {
  padding-top: 230px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}
.navbar {
  z-index: 100;
}

.category-title {
  
  font-size: 35px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 15px;
}
@media screen and (max-width: 500px) {
  .nav-link {
    padding: 0 !important;
  }
}